<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { res.redirect('/') } %>
    
    <!-- display a message -->
    <%- messages() %>
    
    <!-- to display errors -->
    <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <div class="vehicle-list">
        <% if (vehicles.length > 0) { %>
          <ul>
            <% vehicles.forEach(vehicle => { %>
              <li>
                <h2><%= vehicle.vehicle_name %></h2>
                <p>Price: $<%= vehicle.price %></p>
                <p><%= vehicle.description %></p>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <p>No vehicles available.</p>
        <% } %>
      </div>